.button{
    &_group{
        justify-content: space-between;
    }
    flex: 0 !important;
}
.cardDesc{
    min-height: 150px;
    width: 90%;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardDate{
    margin: 0;
    font-size: 20px;
    text-align: left;
    @media screen and (max-width: 450px){
        padding: 0.8rem;
    }
}
.cardTitle{
    width: 80%;
}
.cardBody{
    @media screen and (max-width: 450px){
        padding: 0;
    }
}
