.App {
  text-align: center;
}

.react-icons{
  vertical-align: middle;
  height: 22px;
  width: 22px;
  margin-bottom: 2px;
}

.react-calendar{
  border: none;
  font-size: 1rem;
}
.react-calendar__navigation{
  margin-bottom: 5px;

}
.react-calendar__month-view__weekdays__weekday > abbr{
  text-decoration: none;
}

@media screen and (max-width: 450px){
  .react-calendar{
    font-size: 0.8rem;
    max-width: 280px;
  }
  .btn{
    padding: 2px 5px;
  }
  h3{
    font-size: 1.3rem;
  }
  h1{
    font-size: 2rem;
  }
}

