.leftpane{
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    @media screen and (max-width: 768px) {
        min-height: 300px;
    }
}
.rightpane{
    padding: 1rem;
}

.container{
    max-width: 1920px;
}